.portal{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: aqua;
    position: absolute;
    margin-left: 500px;
    z-index: 2;
  
}
.portal-container{
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0,.5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

}